.page {
  color: #606266;
  background: #fff;
  overflow-x: hidden;
}

.recruitmentFlow {
  position: relative;
  overflow: visible;
  --data-unit: 100px;
}

.recruitmentFlowContent {
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .recruitmentFlow {
    --data-unit: calc(100vw / 3.75);
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .recruitmentFlow {
    --data-unit: calc(100vw / 12.8);
  }
}

@media (min-width: 1921px) {
  .recruitmentFlow {
    --data-unit: calc(100vw / 19.2);
  }
}
